body {
  background-color: #444;
}
.header-div {
  -webkit-box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.3);
  height: 550px !important;
  border-bottom: 3px solid #e66f00;
  background-color: #222;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 50px;
}
.header-div:hover {
  -webkit-box-shadow: -15px -15px 20px rgba(0, 0, 0, 0.3), 15px 15px 20px rgba(0, 0, 0, 0.3);
          box-shadow: -15px -15px 20px rgba(0, 0, 0, 0.3), 15px 15px 20px rgba(0, 0, 0, 0.3);
  height: 550px !important;
  border-bottom: 2px solid #e66f00;
  background-color: #222;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 40px;
}
.picture {
  position: relative;
  display: inline-block;
}
.picture img {
  display: inline;
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.picture p {
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  display: inline;
  color: white;
  background-color: #ff8500;
  font-size: 11px;
  border: 3px solid #ff8500;
}
.picture .heart {
  position: absolute;
  color: #444;
  margin-left: 190px;
  margin-top: 20px;
  opacity: 70%;
  width: 17px;
  height: 17px;
}
.picture .heart:hover {
  position: absolute;
  color: #ff0000;
  margin-left: 190px;
  margin-top: 20px;
  opacity: 100%;
  font-size: 70%;
  width: 20px;
  height: 20px;
}
.arrow {
  color: #e66f00;
  display: block;
  margin-top: 35px;
  width: 30px;
  height: 30px;
}
.info {
  margin-left: 10px;
}
.info span {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
}
.info p {
  color: #4d78a3;
  opacity: 0.7;
  font-size: 15px;
}
.info a {
  color: white;
  text-decoration: none;
}
.main-text {
  color: white;
  font-size: 50px;
  margin-left: 400px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 50px;
}
